@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&amp;display=swap");

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121;
}
.bg-brand-dark {
  background-color: #266e6a;
}
.container {
  max-width: 1400px !important;
}
[x-cloak] {
  display: none;
}

.page_coffee .page-content {
  font-size: 65%;
}
